html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
}
input
{

  height: 37px;
  border-radius: 5px;
  border: 2px solid #c49d4c;

}

.btn
{

      height:34px;
      border-radius: 6px;
      text-align: center;
      background-color: #c49d4c;
      color: white;
      font-size: 20px;
      margin: 1px;
      min-width: 37px;
      padding: 0px;
      cursor: pointer;


}

thead
{

color: black;
font-size: 20px;
}

.table2
{
    width: 100%;
/*    border: 1px solid black;*/
    border-collapse: collapse;
}
.table2 .tr .td
{

/*border: 1px solid black;*/
text-align: -webkit-center;
padding: 0px 5px;
}

.tdRight
{


text-align: -webkit-right !important;

}

.filter
{

float: right;
margin-top: 5px;
margin-bottom:5px;

}

#chart-container {
  position: relative;
  display: inline-block;
  top: 10px;
  left: 10px;



  border-radius: 5px;
  overflow: auto;
  text-align: center;
}

.fullContent
{


  display: flex;
  min-height: 100%;

}
.divGrupos
{

  width: 20%;
  background: #eee;
  border: 1px solid #eeeeee;
  transition: all width 2s;
	-webkit-transition: all width 2s;
	-moz-transition: all width 2s;
  text-align: left;
  overflow: auto;

}
.divGruposhide
{
  transition:all width 2s;
	-webkit-transition: all width 2s;
	-moz-transition: all width 2s;
width: 4%;

}

.divDiagrama
{

width: 80% ;


}
.h2Grupos
{


  padding-left: 40px;
  border-radius: 10px;
  font-weight: 300;
  margin-bottom: 20px;
  color: white;
  margin-top: 20px;
  font-family: inherit;
}
ul
{

  background: white;
  color: #c59d4c;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  margin: 0px;
  cursor: pointer;

}
li
{

  background: white;
  padding: 16px;

  font-size: 15px;

}
.spanLis
{


color: #aaa;

}

.tableRes
{
  background: white;
  width: 100%;
  padding: 30px;

}
table
{

    color: #615c5c;

}
.divSup
{

  background: #c59d4d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 31%;
}
.img
{

border-radius: 5px;
margin-top: 9px;

}
.divInfer
{

height:61%;
padding-left: 6px;
padding-right: 6px;

}
.name
{
font-size:14px;
width:100%;
color:rgba(0, 0, 0, 0.6);
}
.cargo
{

font-size:14px;
width:100%;
color:rgba(0, 0, 0, 0.6)

}
